<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DHMLDBConnectionString" connectionString="Data Source=OFUOMA-PC;Initial Catalog=DHMLDB;User ID=sa;Password=Welcome1979!"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>