<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
   <add name="constr" connectionString="Data Source=tcp:s06.winhost.com;Initial Catalog=DB_111827_profitplus;User ID=DB_111827_profitplus_user;Password=101433ikogho;Integrated Security=False;"/>
    <!--<add name="constr" connectionString="Data Source=OFUOMA-PC;Initial Catalog=ProfitPlus;User ID=sa;Password=101433ikogho;"/>-->
  </connectionStrings>
  
    
  <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>
